@{
    var routeValues = this.ViewContext.RouteData.Values;
    var controller = routeValues["controller"] as string;
    var action = routeValues["action"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | Game Share Manager</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
</head>
@if (Request.IsAuthenticated)
{
    <body>

        <!-- Wrapper-->
        <div id="wrapper">

            <!-- Navigation -->
            @Html.Partial("_Navigation")

            <!-- Page wraper -->
            <div id="page-wrapper" class="gray-bg">

                <!-- Top Navbar -->
                @Html.Partial("_TopNavbar")

                <!-- Main view  -->
                @RenderBody()

                <!-- Footer -->
                @Html.Partial("_Footer")

            </div>
            <!-- End page wrapper-->

        </div>
        <!-- End wrapper-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/metsiMenu")
        @Scripts.Render("~/plugins/pace")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")
        @RenderSection("scripts", required: false)
    </body>
}
else
{
    

    <body class="gray-bg">
        <div class="loginColumns animated fadeInDown">
            <div class="row">
                <div class="col-md-3">
                    <img src="/Content/Images/brazil-flag.png" height="32" width="32" alt="Português" />
                    @Html.ActionLink("Português", @action, @controller, new {culture = "pt-BR"}, new {rel = "alternate", hreflang = "pt-BR"})
                </div>

                <div class="col-md-3">
                    <img src="/Content/Images/united-states-flag.png" height="32" width="32" alt="English" />
                    @Html.ActionLink("English", @action, @controller, new { culture = "en-US" }, new { rel = "alternate", hreflang = "en-US" })
                </div>
            </div>


            @RenderBody()


            @RenderSection("scripts", required: false)
        </div>
    </body>
}
</html>
