@using GameShareManager.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@User.FullName()</strong>
                            </span> <span class="text-muted text-xs block">@Language.Options<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        @*<li>
                            @Html.ActionLink(Language.Manage, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>*@
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">@Language.Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    GSM
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Loan")">
                <a href="@Url.Action("Index", "Loan")">
                    <i class="fa fa-share-alt"></i> <span class="nav-label">@Language.Loans</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "Company")">
                <a href="@Url.Action("Index", "Company")">
                    <i class="fa fa-building"></i> <span class="nav-label">@Language.Companies</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "Friend")">
                <a href="@Url.Action("Index", "Friend")">
                    <i class="fa fa-user"></i> <span class="nav-label">@Language.Friends</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "Game")">
                <a href="@Url.Action("Index", "Game")">
                    <i class="fa fa-gamepad"></i> <span class="nav-label">@Language.Games</span>
                </a>
            </li>
        </ul>
    </div>
</nav>