@model GameShareManager.Application.ViewModels.CompanyViewModel

@{
    ViewBag.Title = $"{Language.Create} {Language.Company}";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Language.Create @Language.Company</h5>
                </div>
                @using (Html.BeginForm("Create", "Company", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Language.Name })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="hr-line-dashed"></div>
                            </div>
                            <div class="col-md-12">
                                @Html.ActionLink(@Language.Cancel, "Index", null, new { @class = "btn btn-default" })
                                <input type="submit" class="btn btn-primary" value="@Language.Create">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>