@model GameShareManager.Application.ViewModels.CompanyViewModel

@{
    ViewBag.Title = $"{Language.Delete} {Language.Company}";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title?</h5>
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Language.Name, disabled = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hr-line-dashed"></div>
                        </div>
                        <div class="col-md-12">
                            @using (Html.BeginForm("Delete", "Company", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id)
                                @Html.ActionLink(@Language.Back, "Index", null, new { @class = "btn btn-default" })
                                <input type="submit" class="btn btn-danger" value="@Language.Delete">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>